<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  {% extends 'base/base.html' %}

  {% block content %}

    {% from "macroLogin.html" import render_field %}

      <form class="classFrom" name="sendMessage" id="contactForm" method="POST" action="">
          {{ render_field(form.username) }}
          {{ render_field(form.password) }}
          <button class="boton" type="submit">Enviar</button>
          <p class="message">¿No está registrado? <a href="register" id="crearCuenta" onclick="">Crear una cuenta</a></p>
      </form>
      
  {% endblock %}
 
</body>
</html>